.arrow {
    height: 50px;
    padding: 10px;
}

body {
    font-family: 'Archivo', serif;
}

col {
    width: 15%;
}

.col-arrow {
    width: 5%;
}

.footer {
    background-color: #d4d4ce;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.footer img {
    max-height: 100px;
}

.header {
    background-color: #1d5ca8;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    max-height: 100px;
}

.headline {
    padding: 5px;
    color: white;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    height: 100px;
}

.predictions {
    padding: 10px;
    text-align: center;
    min-width: 224px;
    font-size: 20px;
}

.prediction-class {
    padding: 5px 5px 5px 20px;
    text-align: center;
    vertical-align: bottom;
}

.prediction-score {
    border-right: 2px solid black;
    padding: 5px 20px 5px 5px;
    text-align: right;
    vertical-align: middle;
}

.prediction-top {
    font-weight: bold;
}

.prediction-top .prediction-score {
    border-right: 3px solid black;
}

.row {
    display: flex;
}

table {
    border-spacing: 0 15px;
    padding: 20px;
}

.table-headline {
   font-size: 22px;
}

.table-subheadline {
   font-size: 16px;
}

td {
    text-align: center;
}
