.arrow {
    height: 25px;
    padding: 5px;
}

body {
    font-family: 'Archivo', serif;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    max-height: 100vh;
}

col {
    width: 14%;
}

.col-arrow {
    width: 2.5%;
}

.col-prediction {
    width: 15%;
    min-width: 15%;
    max-width: 15%;
}

.footer {
    background-color: #d4d4ce;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.footer img {
    max-height: 50px;
}

.header {
    background-color: #1d5ca8;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    max-height: 50px;
}

.headline {
    font-weight: bold;
    font-size: 28px;
    color: white;
    margin: 0;
    padding: 15px 15px 15px 20px;
}

.image {
    max-width: 95%;
    max-height: 95%;
}

.logo {
    height: 100px;
}

.predictions {
    text-align: center;
    min-width: 260px;
}

.prediction-class {
    padding: 5px 5px 5px 20px;
    text-align: center;
    vertical-align: bottom;
}

.prediction-score {
    border-right: 2px solid black;
    padding: 5px 20px 5px 5px;
    text-align: right;
    vertical-align: middle;
}

.prediction-top {
    font-weight: bold;
}

.prediction-top .prediction-score {
    border-right: 3px solid black;
}

.row {
    display: flex;
}

table {
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
}

.table-headline {
   font-size: 20px;
}

.table-subheadline {
   font-size: 16px;
}

.table-subheadline th {
   padding-bottom: 10px;
}

td {
    text-align: center;
}
