<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/functions.js')}}"></script>
    <title>CIDAS project</title>
</head>

<body>
    <div class="header">
        <div class="headline">
            <h1>Bildklassifizierung</h1>
            <p>(Image Classification)</p>
        </div>
        <img src="{{url_for('static', filename='img/uni_goettingen_logo.svg')}}" alt="Uni Goettingen Logo">
    </div>

    <table>
        <colgroup>
            <col span="1">
            <col span="1" class="col-arrow">
            <col span="1">
            <col span="1" class="col-arrow">
            <col span="1">
            <col span="1" class="col-arrow">
            <col span="1">
            <col span="1" class="col-arrow">
            <col span="1">
            <col span="1">
        </colgroup>

        <tbody>
            <tr class="table-headline">
                <th>Eingabe</th>
                <th></th>
                <th>Niedrige Schicht</th>
                <th></th>
                <th>Mittlere Schicht</th>
                <th></th>
                <th>Höhere Schicht</th>
                <th></th>
                <th>Ausgabe</th>
                <th>Fokus</th>
            </tr>
            <tr class="table-subheadline">
                <th>(Input)</th>
                <th></th>
                <th>(Lower Layer)</th>
                <th></th>
                <th>(Middle Layer)</th>
                <th></th>
                <th>(Higher Layer)</th>
                <th></th>
                <th>(Output)</th>
                <th>(Focus)</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><img class="image" id="mixed3a_1_image" alt="Lower Layer 1"></td>
                <td><img class="arrow" src="../static/img/arrow.png"></td>
                <td><img class="image" id="mixed4b_1_image" alt="Middle Layer 1"></td>
                <td><img class="arrow" src="../static/img/arrow.png"></td>
                <td><img class="image" id="mixed5b_1_image" alt="Higher Layer 1"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img class="image" id="camera_image" alt="Camera Image"></td>
                <td><img class="arrow" src="../static/img/arrow.png"></td>
                <td><img class="image" id="mixed3a_2_image" alt="Lower Layer 2"></td>
                <td><img class="arrow" src="../static/img/arrow.png"></td>
                <td><img class="image" id="mixed4b_2_image" alt="Middle Layer 2"></td>
                <td><img class="arrow" src="../static/img/arrow.png"></td>
                <td><img class="image" id="mixed5b_2_image" alt="Higher Layer 2"></td>
                <td><img class="arrow" src="../static/img/arrow.png"></td>
                <td class="predictions">
                    <table>
                        <tr class="prediction-top">
                            <td class="prediction-score" id="prediction-score-1"></td>
                            <td class="prediction-class" id="prediction-class-1"></td>
                        </tr>
                        <tr>
                            <td class="prediction-score" id="prediction-score-2"></td>
                            <td class="prediction-class" id="prediction-class-2"></td>
                        </tr>
                        <tr>
                            <td class="prediction-score" id="prediction-score-3"></td>
                            <td class="prediction-class" id="prediction-class-3"></td>
                        </tr>
                    </table>
                </td>
                <td><img class="image" id="heatmap_image" alt="Classification Focus"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><img class="image" id="mixed3a_3_image" alt="Lower Layer 3"></td>
                <td><img class="arrow" src="../static/img/arrow.png"></td>
                <td><img class="image" id="mixed4b_3_image" alt="Middle Layer 3"></td>
                <td><img class="arrow" src="../static/img/arrow.png"></td>
                <td><img class="image" id="mixed5b_3_image" alt="Higher Layer 3"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="footer">
        <img src="{{url_for('static', filename='img/gipplab_logo.png')}}" alt="Uni Goettingen Logo" style="text-align: right;">
        <img src="{{url_for('static', filename='img/cidas_logo.png')}}" alt="Uni Goettingen Logo">
    </div>
</body>
</html>